body {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
     font-family: Cormorant,serif;
}
ul {
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
  }
  
  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  .container {
    max-width: 1240px;
    margin: auto;
    padding: 0 1rem;
  }
  .btn:link,
.btn:visited {
  background-color: #087f5b;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  border-radius: 100px;
}

.btn:hover,
.btn:active {
  background-color: #099268;
}

img {
  border-radius: 12px;
}